*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result content__details";
  align-items: end;
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield) {
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-width: 225px;
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  background-color: transparent;
  color: inherit;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-left: 0;
  border-right: 0;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  align-self: center;
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__checkbox[type='checkbox']:checked +
.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: inherit;
  border: 1px solid currentColor;
  background-color: transparent;
}

.search-form__submit-button {
  min-width: 192px;
  height: 30px;
  align-self: end;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  height: 35px;
}


/*правая секция*/

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: content__details;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: gray;
}

.content__list-container {
  position: relative;
  max-width: 400px;
  height: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__list-item {
  padding: 0 3px 0 3px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  max-width: 196px;
  flex-grow: 1;
}

.content__video-card-title {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
}

.content__video-card-description {
  display: block;
  -webkit-box-orient: vertical;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  line-height: 17px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 